# Auto detect text files and perform LF normalization
* text=auto

*.bas       text    eol=crlf
*.cls       text    eol=crlf
*.frm       text    eol=crlf
*.frx       binary  eol=crlf
*.dcm       text    eol=lf
*.vbaproj   text    eol=lf

*.wsf       text    eol=lf
*.bat       text    eol=lf

*.cls linguist-language=VBA
*.dcm linguist-language=VBA
*.vbaproj linguist-language=INI

# file encording
*.bas working-tree-encoding=sjis
*.dcm working-tree-encoding=sjis
*.frm working-tree-encoding=sjis
*.cls working-tree-encoding=sjis

*.bas diff=sjis
*.dcm diff=sjis
*.frm diff=sjis
*.cls diff=sjis

*.bas encoding=sjis
*.dcm encoding=sjis
*.frm encoding=sjis
*.cls encoding=sjis
