# Auto detect text files and perform LF normalization
* text=auto

*.bas       text    eol=crlf
*.cls       text    eol=crlf
*.frm       text    eol=crlf
*.frx       binary  eol=crlf
*.dcm       text    eol=lf
*.vbaproj   text    eol=lf

*.wsf       text    eol=lf
*.bat       text    eol=lf

*.cls linguist-language=VBA
*.dcm linguist-language=VBA
*.vbaproj linguist-language=INI

# file encording
*.bas working-tree-encoding=CP932
*.dcm working-tree-encoding=CP932
*.frm working-tree-encoding=CP932
*.cls working-tree-encoding=CP932

*.bas diff=CP932
*.dcm diff=CP932
*.frm diff=CP932
*.cls diff=CP932

*.bas encoding=CP932
*.dcm encoding=CP932
*.frm encoding=CP932
*.cls encoding=CP932
